body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

header {
  background-color: pink;
  height: 150px;
}

.heading {
  height: 100px;
  width: 960px;
  background-color: limegreen;
}

.navbar {
  height: 50px;
  width: 960px;
  background-color: violet;
}

.contents {
  width: 960px;
  background-color: skyblue;
}

.left-content {
  height: 400px;
  width: 640px;
  background-color: #ffffff;
}

.right-content {
  height: 370px;
  width: 320px;
  background-color: #f9f9f9;
}

footer {
  background-color: pink;
  height: 50px;
}

